{{page-title "Profile"}}
<form {{on "submit" this.save}} class="container">
  <div class="mb-3">
    <label for="mollieApiKey" class="form-label">Mollie API key</label>
    <Input @type="text" class="form-control" id="mollieApiKey" name="mollieApiKey" placeholder="my mollie api key" @value={{this.mollieApiKey}} />
  </div>
  <button type="submit" class="btn btn-success" id="save-button">Save</button>
</form>